import streamlit as st
import streamlit.components.v1 as components
import google.generativeai as genai
import requests, random, html
from datetime import datetime
from io import BytesIO
from PIL import Image
